@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 25% 99%;
    --foreground: 255 27% 25%;
    --card: 0 0% 100%;
    --card-foreground: 255 27% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 255 27% 25%;
    --primary: 255 27% 35%;
    --primary-foreground: 0 0% 98%;
    --secondary: 255 10% 95%;
    --secondary-foreground: 255 27% 25%;
    --muted: 255 10% 95%;
    --muted-foreground: 255 10% 55%;
    --accent: 202 93% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 10% 90%;
    --input: 255 10% 90%;
    --ring: 202 93% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 27% 15%;
    --foreground: 270 25% 95%;
    --card: 255 27% 15%;
    --card-foreground: 270 25% 95%;
    --popover: 255 27% 15%;
    --popover-foreground: 270 25% 95%;
    --primary: 270 25% 95%;
    --primary-foreground: 255 27% 25%;
    --secondary: 255 10% 25%;
    --secondary-foreground: 270 25% 95%;
    --muted: 255 10% 25%;
    --muted-foreground: 255 10% 75%;
    --accent: 202 93% 57%;
    --accent-foreground: 255 27% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 255 10% 25%;
    --input: 255 10% 25%;
    --ring: 202 93% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}